.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    text-align: left;
}

.soilhealthpage{
    background-color: #f0f4c3;
}

.soiltest-results{
    padding: 2rem;
    background-color:#f0f4c3 ;
    color: black;
    margin-bottom: 1.5rem;
        
}